<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>local.gif-script.convert-gif-to-mp4</string>
	<key>CFBundleName</key>
	<string>Convert GIF to MP4</string>
	<key>CFBundlePackageType</key>
	<string>Workflow</string>
</dict>
</plist>
